<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="SolarPVLogin_Style.css">

    <title>login</title>
    <style>
        body {
            background-color: white;
        }

    </style>
</head>

<body>
    <header>
        <h4><a href="WIP.html">About Us</a> <a href="WIP.html">Contact Us</a></h4>
        <h1>
            solarPV

        </h1>
        <h3>Research & Development
        </h3>
    </header>



    <nav>
        <ul>
            <li id="li1"><a>Cybersecurity</a></li>
            <li id="li1"><a>Data Analytics</a></li>
            <li id="li1"><a>PV Systems</a></li>
            <li id="li1"><a>PV Module</a></li>
            <li id="li1"><a>Racks & Trackers</a></li>
            <li id="li2"><a href="SolarPV.html">Home</a></li>
            <li id="li2"><a href="SolarPVWebPortal.html">Web Portal</a></li>
        </ul>
    </nav>



    <section>
        <h2>Login Form</h2>
        <form>
            <div>Username:</div>
            <input type="text" name="username" placeholder="Required">
            <br>
            <div>Password:</div>
            <input type="text" name="password" placeholder="Required">
            <br>
        </form>
    </section>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <footer>
        <div id=div1>
            <b>solarPV</b>
            <br> Address, Phone, Email, Website

            <li id="link2">
                <a href="WIP.html">Site Map</a> | <a href="WIP.html">Terms & Conditions</a> | <a href="WIP.html">Privacy Policy</a> | <a href="WIP.html">About Us</a></li>
        </div>

        <div id=div2>
            @ 2020 All Rights Reserved
        </div>
    </footer>



</body>

</html>
