<!DOCTYPE html>
<html>
   <link rel="stylesheet" type="text/css" href="About.css">
<title>Bowlers Bliss</title>

<body>

    <header>
        <h1>
            Bowler's Bliss
        </h1>
    </header>

    <nav>
        <ul>
            <li><a href="BowlersBliss.html">Home</a></li>
            <li><a>Bowlers</a></li>
            <li><a>Alleys</a></li>
            <li><a>Gear</a></li>
            <li><a href="About.html">About Us</a></li>
            <li><a href="Contact.html">Contact Us</a></li>
        </ul>
    </nav>
    <br>
    <br>
    <br>
    <br>

    <section>
        <form>

            <article id="art1">
                <h2>Mission Statement</h2>
                Our mission is to give bowlers an all-in-one source for information and statistics
            </article>
            <br>
            <article id="art2">
                <h2>About</h2>

            </article>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </form>
    </section>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>




    <div id="divL">
        <b>Bowler's Bliss</b>
        <br>

        <li id="link2">
            <a href="WIP.html">Site Map</a> | <a href="WIP.html">Terms & Conditions</a> | <a href="WIP.html">Privacy Policy</a> | <a href="About.html">About Us</a></li>
    </div>

    <div id="divC">
        @ 2020 All Rights Reserved
    </div>


</body>
    
    
    
    
</html>