<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'BowlersBlissCSS.css' %}">
<title>Bowlers Bliss</title>

<body>

    <header>
        <h1>
            Bowler's Bliss
        </h1>
    </header>

    <nav>
        <ul>
            <li><a href="BowlersBliss.html">Home</a></li>
            <li><a>Bowlers</a></li>
            <li><a>Alleys</a></li>
            <li><a>Gear</a></li>
            <li><a href="About.html">About Us</a></li>
            <li><a href="Contact.html">Contact Us</a></li>
        </ul>
    </nav>
    <br>
    <br>
    <br>
    <br>

    <section>
        <article id="ar1">
            <h4 style="text-align: center"><a href="BowlersBlissRegistration.html">Register</a> | <a href="Login.html">Login</a></h4>
            <h3 id="h31">Find Members</h3>
            <ul>

            </ul>
            <h3 id="h31">Rulebook</h3>
            <ul>

            </ul>
            <h3 id="h31">Data Analytics</h3>

        </article>
        <article id="ar2">
            <h4>Feature contents</h4>

        </article>
        <article id="ar3">
            <h4>News & Events</h4>
            <p style="text-decoration: underline"><a href="WIP.html">Westgate Lanes bowler rolls first second and third 300 for perfect 900 series</a></p>
            <p style="text-decoration: underline"><a href="WIP.html">Standings from recent Open Tournament</a></p>
            <p style="text-decoration: underline"><a href="WIP.html">Latest NEBA Tournament Recap</a></p>
            <p style="text-decoration: underline"><a href="WIP.html">Collegiate Ticker</a></p>

        </article>
    </section>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>




    <div id="divL">
        <b>Bowler's Bliss</b>
        <br>

        <li id="link2">
            <a href="WIP.html">Site Map</a> | <a href="WIP.html">Terms & Conditions</a> | <a href="WIP.html">Privacy Policy</a> | <a href="About.html">About Us</a></li>
    </div>

    <div id="divC">
        @ 2020 All Rights Reserved
    </div>

</body>
    
    
    
    
</html>