<!DOCTYPE html>
<html>
{% load static %}
    <link rel="stylesheet" href="{% static 'Contact.css' %}">
<title>Bowlers Bliss</title>

<body>

    <header>
        <h1>
            Bowler's Bliss
        </h1>
    </header>

    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a>Bowlers</a></li>
            <li><a>Alleys</a></li>
            <li><a>Gear</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
    </nav>
    <br>
    <br>
    <br>
    <br>

    <section>
        <h2>We Can Fix It If You'd Like To Tell Us About It</h2>
        <form>
            <article>
                <textarea rows="4" cols="50" placeholder="Your Name..."></textarea>
                <br>
                <textarea rows="4" cols="50" placeholder="Your Email..."></textarea>
                <br>
                <textarea rows="15" cols="100" placeholder="Your Message..."></textarea>
            </article>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <article>
                <input type="submit" value="Submit" />
                <input type="reset" value="Reset" />
            </article>



        </form>
    </section>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>




    <div id="divL">
        <b>Bowler's Bliss</b>
        <br>

        <li id="link2">
            <a href="/wip">Site Map</a> | <a href="/wip">Terms & Conditions</a> | <a href="/wip">Privacy Policy</a> | <a href="/about">About Us</a></li>
    </div>

    <div id="divC">
        @ 2020 All Rights Reserved
    </div>


</body>
    
    
    
    
</html>