<!DOCTYPE html>
<html>
   <link rel="stylesheet" type="text/css" href="RegistrationCSS.css">
<title>Bowlers Bliss</title>

<body>

    <header>
        <h1>
            Bowler's Bliss
        </h1>
    </header>

    <nav>
        <ul>
            <li><a href="BowlersBliss.html">Home</a></li>
            <li><a>Bowlers</a></li>
            <li><a>Alleys</a></li>
            <li><a>Gear</a></li>
            <li><a href="About.html">About Us</a></li>
            <li><a href="Contact.html">Contact Us</a></li>
        </ul>
    </nav>
    <br>
    <br>
    <br>
    <br>

    <section>
        <h2>Login Form</h2>
        <form>
            <article>
                <p>
                    Username<br>
                    <input type="text" name="username" value="">
                </p>
                <p>
                    Password<br>
                    <input type="text" name="password" value="">
                </p>
                <br>
                <p>
                    <a href="WIP.html">Forgot Password?</a>
                </p>
            </article>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>


            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>



            <input type="submit" value="Submit" />
            <input type="reset" value="Reset" />

        </form>
    </section>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>




    <div id="divL">
        <b>Bowler's Bliss</b>
        <br>

        <li id="link2">
            <a href="WIP.html">Site Map</a> | <a href="WIP.html">Terms & Conditions</a> | <a href="WIP.html">Privacy Policy</a> | <a href="About.html">About Us</a></li>
    </div>

    <div id="divC">
        @ 2020 All Rights Reserved
    </div>


</body>
    
    
    
    
</html>