{% extends 'base.html' %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'SolarPVWP_Style.css' %}">


{% block content %}



{% endblock %}

{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    {% load static %}#}
{#    <link rel="stylesheet" type="text/css" href="{% static 'SolarPVWP_Style.css' %}">#}
{##}
{#    <title>webportal</title>#}
{#    <style>#}
{#        body {background-color:white;}#}
{#    </style>#}
{#</head>#}
{#<body>#}
{#    <header style="border: 1px solid black">#}
{#        <h4 style="float: right"><a href="/wip">About Us</a> <a href="/wip">Contact Us</a></h4>#}
{#        <h1>#}
{#            solarPV#}
{#        </h1>#}
{#        <h3>Research & Development</h3>#}
{#    </header>#}
{##}
{##}
{##}
{#    <nav>#}
{#        <ul>#}
{#            <li id="li1"><a>Cybersecurity</a></li>#}
{#            <li id="li1"><a>Data Analytics</a></li>#}
{#            <li id="li1"><a>PV Systems</a></li>#}
{#            <li id="li1"><a>PV Module</a></li>#}
{#            <li id="li1"><a>Racks & Trackers</a></li>#}
{#            <li id="li2"><a href="/">Home</a></li>#}
{#            <li id="li2"><a href="/wp">Web Portal</a></li>#}
{#        </ul>#}
{#    </nav>#}
{##}
{##}
{##}
{#    <section>#}
{#        <h2>Web Portal Dashboard</h2>#}
{#        <form>#}
{#           <h4>Client</h4>#}
{#            <div>Client Code:</div>#}
{#            <input type="text" name="clientcode">#}
{#            <br>#}
{#            <div>Client Name:</div>#}
{#            <input type="text" name="clientname">#}
{#            <br>#}
{#            <div>Client Type:</div>#}
{#            <input type="text" name="clienttype">#}
{#        </form>#}
{#        <form>#}
{#           <h4>Location</h4>#}
{#            <div>Client ID:</div>#}
{#            <input type="text" name="clientid">#}
{#            <div>Address1:</div>#}
{#            <input type="text" name="address1">#}
{#            <div>Address2:</div>#}
{#            <input type="text" name="address2">#}
{#            <div>City:</div>#}
{#            <input type="text" name="city">#}
{#            <div>State:</div>#}
{#            <input type="text" name="state">#}
{#            <div>Postal Code:</div>#}
{#            <input type="text" name="postalcode">#}
{#            <div>Country:</div>#}
{#            <input type="text" name="country">#}
{#            <div>Phone Number:</div>#}
{#            <input type="text" name="phone">#}
{#            <div>Fax Number:</div>#}
{#            <input type="text" name="fax">#}
{#        </form>#}
{#        <form>#}
{#           <h4 style="text-align: center">Product</h4>#}
{#           <form>#}
{#            <div>Model Number:</div>#}
{#            <input type="text" name="modelnum">#}
{#            <div>Name:</div>#}
{#            <input type="text" name="modelname">#}
{#            <div>Cell Technology:</div>#}
{#            <input type="text" name="celltech">#}
{#            <div>Cell Manufacturer:</div>#}
{#            <input type="text" name="cellman">#}
{#            <div>Number of Cells:</div>#}
{#            <input type="text" name="numcell">#}
{#            <div>Number of Cells in Series:</div>#}
{#            <input type="text" name="numcellser">#}
{#            <div>Number of Series String:</div>#}
{#            <input type="text" name="numserstr">#}
{#            <div>Number Diodes:</div>#}
{#            <input type="text" name="numdiodes">#}
{#            <div>Product Length:</div>#}
{#            <input type="text" name="prodlength">#}
{#            <div>Product Width:</div>#}
{#            <input type="text" name="prodwidth">#}
{#            <div>Product Weight:</div>#}
{#            <input type="text" name="prodweight">#}
{#            </form>#}
{#            #}
{#            <form>#}
{#            <h4 style="text-align: center"><br></h4>#}
{#            <div>Superstrate Type:</div>#}
{#            <input type="text" name="suptype">#}
{#            <div>Superstrate Manufacturer:</div>#}
{#            <input type="text" name="supman">#}
{#            <div>Substrate Type:</div>#}
{#            <input type="text" name="subtype">#}
{#            <div>Substrate Manufacturer:</div>#}
{#            <input type="text" name="subman">#}
{#            <div>Frame Type:</div>#}
{#            <input type="text" name="frametype">#}
{#            <div>Frame Adhesive:</div>#}
{#            <input type="text" name="framead">#}
{#            <div>Encapsulant Type:</div>#}
{#            <input type="text" name="encaptype">#}
{#            <div>Encapsulant Manufacturer:</div>#}
{#            <input type="text" name="encapman">#}
{#            <div>Junction Box Type:</div>#}
{#            <input type="text" name="junctype">#}
{#            <div>Junction Box Manufacturer:</div>#}
{#            <input type="text" name="juncman">#}
{#            </form>#}
{#        </form>#}
{#        <form>#}
{#           <h4>Test Standard</h4>#}
{#            <div>Standard Name:</div>#}
{#            <input type="text" name="standardname">#}
{#            <div>Description:</div>#}
{#            <input type="text" name="description">#}
{#            <div>Published Date:</div>#}
{#            <input type="date" name="pubdate">#}
{#        </form>#}
{#        <form>#}
{#           <h4>Certificate</h4>#}
{#            <div>Cert Number:</div>#}
{#            <input type="text" name="certnum">#}
{#            <div>Location:</div>#}
{#            <input type="text" name="locationid">#}
{#            <div>Report Number:</div>#}
{#            <input type="text" name="reportnum">#}
{#            <div>Contact ID:</div>#}
{#            <input type="text" name="contactid">#}
{#            <div>Test Standard:</div>#}
{#            <input type="text" name="standardid">#}
{#            <div>Product:</div>#}
{#            <input type="text" name="product">#}
{#            <div>Cert Issue Date:</div>#}
{#            <input type="date" name="certdate">#}
{#        </form>#}
{#    </section>#}
{##}
{##}
{##}
{#    <footer>#}
{#        <div id=div1>#}
{#            <b>solarPV</b>#}
{#            <br> Address, Phone, Email, Website#}
{##}
{#            <li id="link2">#}
{#                <a href="/wip">Site Map</a> | <a href="/wip">Terms & Conditions</a> | <a href="/wip">Privacy Policy</a> | <a href="/wip">About Us</a></li>#}
{#        </div>#}
{##}
{#        <div id=div2>#}
{#            @ 2020 All Rights Reserved#}
{#        </div>#}
{#    </footer>#}
{##}
{##}
{##}
{#</body>#}
{#</html>#}