/*BODY*/

body {
    /*    background-image: url(clouds.jpg);*/
}

header h1 {
    font-size: 50px;
    top: 0;
    color: navy;
}

nav ul {}

nav ul li {
    font-size: 20px;
    float: left;
    padding: 15px;
    list-style: none;
}

section article {
    float: left;
    height: 70%;
}

#ar1 {
    width: 30%;
}

#ar2 {
    width: 50%;
    text-align: center;
}

#ar3 {
    width: 20%;
    text-align: center;
}

section article h4 {
    text-align: center;
}

#h31 {
    padding-left: 2px;
    color: blue;
}

footer {
    position: fixed;
    bottom: 0;
    width: 99.5%;
}

#divL {
    float: left;
    text-align: left;
    bottom: 0;
}

#divC {
    text-align: center;
    bottom: 0;
}


/*LINKS*/

a:link {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: purple;
}

a:hover {
    color: red;
}

a:active {
    color: red;
}

#link1 {
    color: black;
    display: inline;
    padding: 20px;
    font-size: 1.5em;
}

#link2 {
    color: black;
    padding: 2px;
    font-size: 1em;
    list-style: none;
}


/*REGISTRATION FORM*/

section h2 {
    text-align: center;
}

section form article {
    padding: 5px;
}

section form article p {
    float: left;
    padding: 5px;
}
